/*
 * Variables
 */
$bubble-radius: 3px;
$bubble-tri-pos: 5px;
$bubble-margin-left: 10px;

$black: #000;
$dark-grey: #2C2C2C;
$grey: #D9D9D9;
$grey_light: #f3f3f3;
$grey_lighter: #f5f5f5;
$blue: #366BAF;
$light-blue: #59a7e7;
$z-index-base: 2;

$sidebar-subsection-border: 2px solid #00000026;
$sidebar-subsection-border-radius: 8px;
$sidebar-subsection-vertical-spacing: 15px;
$sidebar-subsection-padding: 20px;

$comment-vertical-spacing: 23px;

$font-family: "Open Sans", sans-serif;

$vcard-image-size: 16px;

/*
 * Mixins
 */
@mixin vendor-prefix($property, $value) {
	-webkit-#{$property}: #{$value};
	-moz-#{$property}: #{$value};
	-ms-#{$property}: #{$value};
	-o-#{$property}: #{$value};
	#{$property}: #{$value};
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 100 900;
  src: url('../../fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 100 900;
  src: url('../../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}

/* ======================== */
/* ======================== */
.incom-bubble {
	font-family: $font-family;
	font-weight: 600;
	margin-left: $bubble-margin-left;
	position: absolute;
	display: none;
	text-align: center;
	font-size: 14px;
	z-index: $z-index-base + 1;

	a {
		color: #fff;
		display: inline-block;
		text-decoration: none;
		padding: 0 10px 0;
		@include vendor-prefix( border-radius, $bubble-radius );

		&:hover {
			color: #fff;
			text-decoration: none;
		}

		&:focus {
			outline: 0;
		}
	}

	&:hover {
		&.incom-bubble-active {
			background: $dark-grey;

			&.incom-bubble-style:after {
				border-color: transparent $dark-grey;
			}
		}

		a {
			background: $blue;
		}
	}

	&.incom-bubble-active {
		background: $blue;
		border-radius: $bubble-radius;
		border-color: $blue;
		font-weight: 700;
		z-index: $z-index-base + 4;

		&.incom-bubble-style:after {
			border-color: transparent $blue;
		}

		a {
			border-radius: 4px 8px 8px 4px;
			padding-right: 16px;
		}

		&.incom-is-right-bubble {
			a {
				padding-right: 10px;
			}
		}

		&:hover {
			background: $dark-grey;

			&.incom-bubble-style:after {
				border-color: transparent $dark-grey;
			}

			a {
				background: $dark-grey;
			}
		}
	}
}

#incom_wrapper.show-bubbles .incom-bubble {
	display: block !important;
}

.incom-bubble-style {
	background: $black;
	@include vendor-prefix( border-radius, $bubble-radius );

	&:after {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 5px $bubble-tri-pos 5px 0;
		border-color: transparent $black;
		display: block;
		width: 0;
		z-index: $z-index-base + 2;
		margin-top: -5px;
		left: -$bubble-tri-pos;
		top: 50%;
	}

	&:hover:after {
		border-color: transparent $blue;
	}

	a {
		color: #fff;
		font-size: 13px;
		line-height: 13px;
		padding-top: 6px;
		padding-bottom: 5px;
		text-decoration: none;
	}
}

.incom-position-left {
	.incom-bubble-style {
		margin-left: -$bubble-margin-left;

		&:after {
			border-width: 5px 0 5px $bubble-tri-pos;
			left: initial;
			right: -$bubble-tri-pos;
		}
	}
}

.incom-comments-wrapper {
	* {
		@include vendor-prefix( box-sizing, border-box );
	}

	background: #f2f2f2;
	box-shadow: 0px 0px 12px 4px #00000038;
	font-family: $font-family;
	font-size: 13px;
	position: absolute;
	width: 100%;
	max-width: 450px;
	padding: 31px 25px 33px 25px;
	margin: 0 10px 0 -16px;
	z-index: $z-index-base + 3;

	&.incom-has-right-bubble {
		margin-left: 0;
	}

	a {
		color: $black;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	ul, li {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}

	p {
		font-size: 1em;
	}

	cite {
		color: $black;
		font-size: 1em;
		font-style: normal;
		font-weight: 700;
		margin: 0;

		a {
			color: $black;
		}
	}

	.portfolio-actions {
		display: none;
	}

	.incom-cancel-reply-link {
		margin-left: 25px;
	}

	.comments-and-form {
		& > .incom-comment-respond {
			.incom-cancel-reply-link {
				display: none;
				visibility: hidden;
			}
		}

		& > .comment {
			border: $sidebar-subsection-border;
			border-radius: $sidebar-subsection-border-radius;
			margin-bottom: $sidebar-subsection-vertical-spacing;
			padding: $sidebar-subsection-padding;

			&.incom-replies-collapsed {
				& > .children {
					display: none;
				}
			}

			.incom-showhide-replies {
				button {
					display: none;

					border: none;
					background: none;
					color: $black;
					cursor: pointer;
					font-family: $font-family;
					font-size: 1em;
					font-weight: 600;
					line-height: 1;
					margin-bottom: 3px; /* vertical alignment with Reply */
					padding: 0;
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}

					&:focus {
						outline: 0;
					}
				}
			}

			&.incom-replies-expanded,
			&.incom-replies-collapsed {
				.incom-showhide-replies button {
					display: block;
				}
			}
		}
	}

	.incom-replying-to {
		& > .inline-comment-body > .incom-comment-text {
			background: #366BAF14;
		}
	}

	.incom-comment-actions {
		align-items: flex-end;
		display: flex;
		justify-content: space-between;
		margin-top: 8px;
	}

	.incom-reply-link {
		font-weight: 600;

		&:before {
			background: url( '../../images/reply.svg' ) no-repeat;
			content: "";
			display: inline-block;
			margin-right: 6px;
			width: 14px;
			height: 14px;
			vertical-align: middle;
		}

		&:hover {
			box-shadow: none; /* twentyseventeen */
		}
	}

	.children {
		.incom-reply-link:before {
			content: none;
		}
	}

	.comment {
		background: #fff;
		font-size: 1em;

		.children {
			margin-top: $comment-vertical-spacing;
			padding-left: 20px;
			position: relative;

			&:after {
				background: url( '../../images/down-arrow.svg' ) no-repeat;
				content: '';
				position: absolute;
				top: 2px;
				left: 0;
				height: 12px;
				width: 15px;
			}

			&:before {
				--vertical-offset: 34px;
				border-left: 2px dotted $black;
				content: '';
				position: absolute;
				height: calc( 100% - var( --vertical-offset ) );
				left: 5px;
				top: var( --vertical-offset );
				width: 2px;
			}

			&.incom-replying-to-children {
				&:before {
					border-color: $blue;
				}

				&:after {
					background-image: url( '../../images/down-arrow-blue.svg' );
				}
			}
		}
	}

	/* Zeroing out theme styles */
	li.comment {
		margin: 0 0 $comment-vertical-spacing 0;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.inline-comment-body {
		padding: 0;
	}

	/* Koji */
	.by-post-author-wrapper {
		display: none;
	}

	.comment-meta {
		display: inline;
		float: right;
		margin-top: -2px;
		padding-right: 0;

		img {
			opacity: 1;

			&:hover {
				opacity: 0.5;
			}
		}
	}

	.comment-reply-title {
		small {
			display: block;

			#cancel-comment-reply-link {
				margin-left: 0 !important;
			}
		}
	}

	.incom-permalink-img {
		width: 18px;
		height: 12px;
	}

	.inline-comment-author {
		align-items: center;
		display: flex;
		gap: 10px;
		margin-bottom: 16px;
	}

	.incom-form-submit {
		margin-top: 14px;
	}

	textarea, input,
	input[type="email"], input[type="text"], input[type="url"],
	#incom-respond form input[type="email"], #incom-respond form input[type="text"], #incom-respond form input[type="url"] {
		border-radius: 2px;
		border: 1px solid $grey;
		font-family: $font-family;
		font-size: 1em;
		padding: 6px 8px;

		&:focus {
			border-color: $light-blue;
			box-shadow: 0 0 0 1px $light-blue;
		}
	}

	/* Some themes force uppercase on buttons */
	button,
	input[type="submit"] {
		font-family: $font-family;
		height: auto;
		line-height: 1em;
		min-width: 0;
		text-transform: none;
	}

	label {
		display: block;
		font-size: 1em;
		font-weight: 600;
	}

	input[type="checkbox"] + label {
		display: inline;
	}

	input[type="email"], input[type="text"], input[type="url"] {
		padding: 10px 14px;
		width: 300px;
	}

	textarea {
		max-width: 100%;
		width: 100%;
	}

	/* Override themes, including block themes */
	.wp-element-button, .wp-block-button__link,
	input[type="submit"] {
		background: $dark-grey;
		border-radius: $sidebar-subsection-border-radius;
		color: $grey_lighter;
		font-size: 12px;
		font-weight: normal;
		padding: 14px 14px 13px 14px;;
		width: auto;

		&:hover {
			background: $blue;
		}
	}

	#incom-respond.incom-comment-respond {
		background: #fff;
		border: $sidebar-subsection-border;
		border-radius: $sidebar-subsection-border-radius;
		margin-top: $sidebar-subsection-vertical-spacing;
		padding: $sidebar-subsection-padding;

		form {
			margin-top: 0;
		}

		.comment-reply-title {
			display: none;
		}
	}

	.incom-comment-notes {
		font-weight: 700;
		margin-bottom: 16px;
	}

	.incom-comment-newest {
		@include vendor-prefix( transition, background-color 2s ease 0.5s );
		background: $grey_lighter;
	}

	.vcard img {
		@include vendor-prefix( border-radius, 50% );
		opacity: 1;
		margin: 0;
		width: $vcard-image-size;
		height: $vcard-image-size;
	}

	.incom-ref {
		display: none;
	}

	.comment-form-cookies-consent {
		margin-top: $sidebar-subsection-vertical-spacing;
		label {
			font-size: 1em;
		}
	}
}

.incom-info-icon {
	@include vendor-prefix( border-radius, 50% );
	width: 19px;
	height: 19px;
	line-height: 19px;
	display: block;
	text-align: center;
	opacity: 0.3;
	margin: 1px 8px 1px auto;
	color: $black;
	font-family: Times, 'Times New Roman', Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;

	&:hover {
		opacity: 1;
		text-decoration: none;
	}
}

.incom-cancel-x {
	@extend .incom-info-icon;
	border: none;
	position: absolute;
	margin: 0;
	padding: 0;
	right: 11.5px;
	top: 11.5px;
	opacity: 1;

	&:hover {
		opacity: 0.5;
	}
}

.incom-ref {
	display: block;

	&:before, &::before {
		content: '(';
	}

	&:after, &::after {
		content: ')';
	}

	.incom-ref-link {
		text-decoration: underline;
		cursor: pointer;
	}
}

.incom-scrolled-to {
	@include vendor-prefix( transition, background-color 2s ease 0.5s );
	background: $grey_lighter;
}
